.addquoteouterdiv{
    border:1px solid rgb(88, 86, 86);
    width: 500px;
    height:300px;
    padding:20px;
    text-align: center;
}
.addlinkstyle{
    background-color: rgb(42, 165, 93);
    width:100px;
    height:20px;
    padding-top:7px;
    margin-right:20px;
    border:1px solid rgb(88, 86, 86);
    
}
.cancellinkstyle{
    background-color: rgb(42, 116, 165);
    width:100px;
    height:20px;
    padding-top:7px;
    border:1px solid rgb(88, 86, 86);

}
.quoteinputboxtitle{
    width:300px;
    height:30px;
}
.addquotelinkouterdiv{
     display:flex;
     flex-direction: row;
     margin-left:100px;
      

}
.errormessage{
    font-size: 12px;
    color:rgb(175, 56, 76);
    text-align: left;
    margin-left:100px;

 }
 .quoteinputouterdiv{
  
    margin-left:100px;
    margin-top:50px;
    margin-bottom:20px;
    display:flex;
    flex-direction: column;


 }
 .quotetext{
     text-align: left;
     padding-bottom:10px;

 }